<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ModificaCont"></activity>
        <activity
            android:name=".PaginaStartMedic"
            android:label="@string/title_activity_pagina_start_medic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.PaginaStartMedic"
            android:label="@string/title_activity_pagina_start_medic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaginaStartPacient"
            android:label="@string/title_activity_pagina_start_pacient"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AdaugareSimptome" />
        <activity android:name=".SetareMedic" />
        <activity android:name=".SetareProfil" />
        <activity android:name=".Inregistrare" />
        <activity android:name=".Inscriere" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>